*::selection {

    background-color: black;
    color: rgb(63, 230, 12);

}

body {


    display: flex;
    justify-content: center;
    background-color: lightpink;
    background-image: url(assets/matrix.webp);
}


#profile-page {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: auto;

}

#stats {

    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 10%;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 450px;
    margin: auto;

}


ul {

    list-style-position: inside;

}

ol {

    list-style-position: inside;

}


h1 {

    color: lime;
    text-decoration: underline;
    font-size: xx-large;
    text-align: center;

}

h2,h3 {

    color: black;
    text-decoration: underline;
    font-size: xx-large;
    text-align: center;

}

.cv-section {

    text-align: center;
    font-size: large;
    width: 400px;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lime;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(48, 233, 31, 0.2);
    opacity: 0.5;
    margin-top: 5px;

}

.cv-section:hover {

    transform: scale(1.05);
    opacity: 0.9;
    box-shadow: 0 0 5px 5px rgba(29, 214, 12, 0.5);
    border: none;
    cursor: pointer;


}



a {

    color: lime;
}

a:hover {

    color: rgba(81, 255, 0, 0.726);
    text-decoration: underline;
    cursor: pointer;

}

a:active {

    color: green;
    text-decoration: underline;

}

.profile-image {


    opacity: 0.7;

}


.profile-image:hover {

    transform: scale(1.05);
    opacity: 1.0;
    cursor: pointer;

}

.cv-section:active {

    transform: scale(1);

}

.profile-image:active {

    transform: scale(1);

}

#stats {

    opacity: 0.8;
}